			
	<div class="row">
		<div class="background-container" style="background: url(./images/band.jpg)"></div>
		<div class="post-content" ng-repeat="post in posts">						
			<div class="row">
				<div class="post-header">
					<h3>{{post.title}}</h3>
				</div>
			</div>
			<div class="row">
				<div class="column col-art">							
					<img class="post-art" src="./images/band.jpg">							
				</div>
				<div class="column col-attachment">
					<div class="audio-content">
						<iframe width="100%" height="150" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/16362406&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
					</div>
					<div class="text-content">
						<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
					</div>
					<div class="tag-container">
						<div class="tag-pill">
							<span>floyd</span>
						</div>
						<div class="tag-pill">
							<span>dark side of the moon</span>
						</div>
						<div class="tag-pill">
							<span>pink</span>
						</div>
					</div>
				</div>						
			</div>					
		</div>	
	</div>
