body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;	
	font-size: 14px;
}

div {
	box-sizing: border-box;;
}

div::after {
	display: table;
	content: " ";
	clear: both;	
}

.row {	
	margin-bottom: 2%;	
	position: relative;	
}

.page-content {
	width: 100%;
	background: #f8f8f8;
	display: flex;
	justify-content: center;	
	flex-direction: column;
}

.page-header {		
	padding-top: 2%;
	padding-bottom: 2%;
}

.header {		
	text-transform: uppercase;
	font-family: 'Josefin Sans',sans-serif;
	text-align: center;
}

h1, h2, h3, h4 { 
	margin-top: 0; 
	margin-bottom: 0;
}

.post-container {
	width: 75%;
	margin-top:70px;
	margin-left: auto;
	margin-right: auto;
	background:#fff;
	height: 375px;
	border:1px solid #e7e7e7;
}

.image-content {
	width: 60%;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat; 	
	-webkit-filter: greyscale(100%);
	filter: grayscale(100%);
	-webkit-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

.image-content:hover {
	-webkit-filter: greyscale(0%);
	filter: grayscale(0%);
}

.post-container:nth-child(even) .image-content {
	float: right;
}