body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;	
	font-size: 14px;
}

div {
	box-sizing: border-box;;
}

div::after {
	display: table;
	content: " ";
	clear: both;	
}

h1, h2, h3, h4 { 
	margin-top: 0; 
	margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.row {	
	margin-bottom: 2%;	
	position: relative;	
}

.page-content {
	width: 100%;
	padding: 0 12.5%;
	background: #f8f8f8;
	display: flex;
	justify-content: center;	
	flex-direction: column;
}

.page-header {		
	padding-top: 3%;
	padding-bottom: 3%;
	background-color: #222224;
}

.header {		
	color: #fff;	
	text-align: center;
}

.header > h1 {
	display: block;
	width: 40%;
	padding-bottom: 3%;
	margin: 0 auto; 
	border-bottom: 1px solid #dadfe1;	 
	text-transform: uppercase;
}

.header > h3 {
	padding-top: 3%;
}

.post-container {	
	margin-top:70px;	
	background:#fff;
	height: 375px;
	border:1px solid #e7e7e7;
	box-shadow: 0px 2px 10px #e3e3e3;
	-webkit-animation: fadeIn 2s;
	-moz-animation: fadeIn 2s;
	-ms-animation: fadeIn 2s;
	-0-animation: fadeIn 2s;
	animation: fadeIn 2s;
}

@keyframes fadeIn {
	from { opacity:0; }
	to { opacity: 1; }
}

@-webkit-keyframes fadeIn {
	from { opacity:0; }
	to { opacity: 1; }
}

@-ms-keyframes fadeIn {
	from { opacity:0; }
	to { opacity: 1; }
}

@-moz-keyframes fadeIn {
	from { opacity:0; }
	to { opacity: 1; }
}

@-o-keyframes fadeIn {
	from { opacity:0; }
	to { opacity: 1; }
}

.image-content {
	position: relative;
	float: left;
	width: 60%;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat; 		
}

.image-overlay {
	position: absolute;
	z-index: 1;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: rgba(0,0,0,0.7);
}

.image-overlay:hover {
	opacity: 1;
	-webkit-animation: fadeIn 0.5s;
	-moz-animation: fadeIn 0.5s;
	-ms-animation: fadeIn 0.5s;
	-0-animation: fadeIn 0.5s;
	animation: fadeIn 0.5s;
}

.post-container:nth-child(even) .image-content {
	float: right;
}

.text-content {
	position: relative;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	text-align: center;
}

.content-title {
	font-family: 'Josefin Sans',sans-serif;	
	margin-bottom: 60px;	
	padding: 0 4%;		
	line-height: 1.3em;
	
}

.content-title > h3 {
	padding-bottom: 10px;
	font-size: 1.3em;
	text-transform: capitalize;
	border-bottom: 1px solid #dadfe1;	
}

.content-title > h4 {	
	margin-top: 10px;
	color: #BDC3C7;
	font-weight: lighter;
	font-style: italic;
	transition: all 0.5s ease;
}

.content-title > p {
	text-transform: uppercase;
    font-size: 0.7em;
    margin-top: 20px;    
    transition: all 0.5s ease;
}

.content-title:hover p {
	margin-top: 35px;
	
}

.blog-link {
	margin: 0 auto;
}

.content-writeup {
	font-family:  'Crimson Text', serif;
	margin: 0 3%;
}

.audio-widget-container {
	position: absolute;
	bottom: 0;
	margin-bottom: -1%;
	width: 100%;
	-webkit-animation: fadeIn 2s;
	-moz-animation: fadeIn 2s;
	-ms-animation: fadeIn 2s;
	-0-animation: fadeIn 2s;
	animation: fadeIn 2s;
}

.blog-header {
	width: 100%;
	height: 450px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}